<h1>{{name}} details from the watch list</h1>

<img src="{{image}}">
<h2>{{name}} </h2>
<h3>marketCapRank: {{coin.market_data.market_cap_rank}} </h3>
<h3>value: {{coin.market_data.current_price.eur}} </h3>

<form action="/profile/watch-list/{{coinId}}/details/delete" method="post">
<button type="submit">Delete coin</button>
</form>
