<h1>{{name}} details from the watch list</h1>

<img src="{{imageLarge}}">
<h2>{{name}}</h2>
<h3>marketCapRank: {{marketCapRank}} </h3>
<h3>value: {{valueEUR}} </h3>

<form action="/profile/watch-list/{{coinId}}/details/delete" method="post">
<button type="submit">Delete coin</button>
</form>
