<h1>This is the full watch list</h1>

{{#each userCoinW}}
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{imageThumb}}" alt="{{id}}">
  <div class="card-body">
    <h5 class={{name}}>{{name}}</h5>
    <p class="card-text">{{valueEUR}}</p>

    <a href="/profile/watch-list/{{coinId}}/details" class="btn btn-primary">See or Edit Details</a>

  </div>
</div>
{{/each}}