<h1>This is the full watch list</h1>

{{#each userCoinW}}
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{coin.imageLarge}}" alt="{{coin.id}}">
  <div class="card-body">
    <h5 class={{coin.name}}>{{coin.name}}</h5>
    <p class="card-text">{{coin.valueEUR}}</p>

    <a href="/profile/watch-list/{{coin.coinId}}/details" class="btn btn-primary">See or Edit Details</a>

  </div>
</div>
{{/each}}