<div>
<h1>Here we display a list of all the coins</h1>


<div class="coins-container">

  <table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Price Euro - Dollar</th>
      <th scope="col"> Add to your Profile!</th>
    </tr>
  </thead>
  <tbody>
    {{#each coin}}
    <tr>
      <th scope="row">{{market_data.market_cap_rank}}</th> 
      <td> <img src="{{image.thumb}}" alt="{{id}}" /> {{name}} </td>
      <td>{{market_data.current_price.eur}} Eur - {{market_data.current_price.usd}} USD</td>
      {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
      <td>  <li class="nav-item dropdown">
      <a
        class="nav-link px-2 link-secondary"
        href="#"
        id="navbarDropdownMenuLink"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        ➕
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

<div>
        {{#doesInclude ../user id}}

          <li>

            <button class="dropdown-item port-button" disabled>Already added to
              Portfolio!</button>

          </li>
          {{else}}

        <li>
          <form action="/coins/{{id}}/portfolio" method="post">
            <button class="dropdown-item port-button" type="submit">Add to
              Portfolio</button>
          </form>
        </li>
        {{/doesInclude}}


        <li><hr class="dropdown-divider" /></li>


        {{#doesIncludeWatch ../user id}}

        <li>

            <button class="dropdown-item port-button" disabled>Already added to
              Watch List!</button>

          </li>
          {{else}}

        <li>
          <form action="/coins/{{id}}/watch-list" method="post">
            <button class="dropdown-item port-button" type="submit">Add to
              Watch-List</button>
          </form>
        </li>
        
        {{/doesIncludeWatch}} 
        </td>
    </tr>
    {{/each}}
  </tbody>
</table>

</div>
</div>
