<div>
<h1>Here we display a list of all the coins</h1>


<div class="coins-container">

{{#each coin}}


  <div id="coinList">
    <img src="{{image.thumb}}" alt="{{id}}" />
    <h2>{{name}}</h2>
    <p>{{market_data.current_price.eur}}€</p>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}

    <li class="nav-item dropdown">
      <a
        class="nav-link px-2 link-secondary"
        href="#"
        id="navbarDropdownMenuLink"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        ➕
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

        {{#doesInclude ../user id}}

          <li>

            <button class="dropdown-item port-button" disabled>Already added to
              portfolio!</button>

          </li>
          {{else}}

        <li>
          <form action="/coins/{{id}}/portfolio" method="post">
            <button class="dropdown-item port-button" type="submit">Add to
              Portfolio</button>
          </form>
        </li>
        {{/doesInclude}}


        <li><hr class="dropdown-divider" /></li>

        <li>
          <form action="/coins/{{id}}/watch-list" method="post">
            <button class="dropdown-item" type="submit">Add to Watch-List</button>
          </form>
        </li>

      </ul>
    </li>
  </div>

</div>

{{/each}}

</div>