<h1>Here is the {{user.username}} profile</h1>
<img src="{{user.avatar}}" alt="user avatar">
<p>First Name: {{user.firstName}}</p>
<p>Last Name: {{user.lastName}}</p>
<p>Email: {{user.email}}</p>
<a href="/profile/edit">Edit profile</a>


<div class="container-prof">

<div class="card text-white bg-info mb-3" style="max-width: 18rem;">
  <div class="card-header"> <a href="/profile/portfolio" style="text-decoration: none; color: white;">My Portfolio</a> </div>
  <div class="card-body">
    {{#each userCoinP}}
    <img src="{{image}}" alt="{{id}}"/>
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">{{value}} €</p>
    {{/each}}
  </div>
</div>

<div class="card bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header"><a href="/profile/watch-list" style="text-decoration: none; color:blue">My Watch-List</a></div>
  <div class="card-body">
    {{#each userCoinW}}
    <img src="{{image}}" alt="{{id}}"/>
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">{{value}} €</p>
    {{/each}}
  </div>
<div>

</div>













