<h1>Here is the {{user.username}} profile</h1>
<img src="{{user.avatar}}" alt="user avatar">
<p>First Name: {{user.firstName}}</p>
<p>Last Name: {{user.lastName}}</p>
<p>Email: {{user.email}}</p>
<a href="/profile/edit">Edit profile</a>



<div>
<h2> <a href="/profile/portfolio">My Portfolio</a> </h2> 
{{#each userCoinP}}
<div class="row"> 
<img src="{{image}}" alt="{{id}}"/>
<h5>{{name}}</h5>
<p>{{value}}€</p>

</div>
{{/each}}
</div>



<div>
<h2> <a href="/profile/watch-list">My Watch-List</a> </h2> 
{{#each userCoinW}}
<div class="row shadow p-3 mb-5 bg-body-tertiary rounded"> 
<img src="{{image}}" alt="{{id}}"/>
<h5>{{name}}</h5>
<p>{{value}}€</p>
</div>
{{/each}}

</div>
















