<h1>Here is the {{user.username}} profile</h1>
<img src="{{user.avatar}}" alt="user avatar">
<p>First Name: {{user.firstName}}</p>
<p>Last Name: {{user.lastName}}</p>
<p>Email: {{user.email}}</p>
<a href="/profile/edit">Edit profile</a>

<h2>My Portfolio</h2>


<h2>My Watch List</h2>