<h1 class="title-coins">{{name}} Details</h1>
<div class="card mb-3 cardDetails" style="max-width: 90%;">
  <div class="row g-0">
    <div class="col-md-4">
    
      <img src="{{imageLarge}}" class="img-fluid rounded-start imgDetails" alt="coin_logo">
      <div class="formDiv">
      <form class="formAmount" action="/profile/portfolio/{{_id}}/details" method="post">
        <div class="editInput">
  <label for="amount" class="nameEdit">Amount:</label>
  <input type="number" name="amount" id="amount"  class="rounded"/>
  <div>
  <button type="submit" class="btn btn-outline-light btn-profile">Update Amount</button>
  </div>
</form>
</div>
</div>
      </div>
    <div class="col-md-8">
      <div class="card-body cardDetails">
        <div class="saveBtn">
<form action="/profile/portfolio/{{coinId}}/details/delete" method="post">
<a href="/profile/portfolio/{{coinId}}/details/delete" class="btn-index-a"><button type="submit" class="btn btn-outline-light btn-profile">Delete</button></a>
</form>
    </div>
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">Market Cap Rank:</p></p> {{marketCapRank}}</p>
        <p class="card-text">Current Price EUR: {{valueEUR}} €</p>
        <p class="card-text">Current Price USD: {{valueUSD}} $</p>
        <p class="card-text">Market Cap EUR: {{marketCapEUR}} €</p>
        <p class="card-text">Market Cap USD: {{marketCapUSD}} $</p>
        <p class="card-text">High in last 24h EUR: {{high24EUR}} €</p>
        <p class="card-text">High in last 24h USD: {{high24USD}} $</p>
        <p class="card-text">Low in last 24h EUR: {{low24EUR}} €</p>
        <p class="card-text">Low in last 24h USD: {{low24USD}} $</p>

        <p class="card-text">Description: <br>{{{description}}}</p>
        
      </div>
    </div>
  </div>
</div>

