

<h1 class="title-coins titles-pixelated-prof btn-margin">Portfolio of {{cryptoHacker.username}}</h1>

<a href="/profile" class="btn-edit-prof"><button type="button" class="btn backBtn btn-portlist">« Back to profile</button></a><div class="cardsP">
{{#each userCoinP}}
  <div class="card cardPort" style="width: 16rem;">
    
    <div class="card-body">
    
      <h5 class="coinP"><img class="card-img-top" src="{{coin.imageLarge}}" alt="{{coin._id}}" />{{coin.name}}</h5>
      <p class="card-text">EUR: {{coin.valueEUR}} €</p>
      <p class="card-text">USD: {{coin.valueUSD}} $</p>
      <hr>
      <p>Amount owned: {{quantity}} {{coin.symbol}}</p>

<p>EUR: {{#multiply quantity coin.valueEUR}} {{/multiply}} € </p>
<p>USD: {{#multiply quantity coin.valueUSD}} {{/multiply}} $ </p>
      
      <a href="/profile/portfolio/{{coin.coinId}}/details" class="btn-index-a btn-portlist"><button type="submit" class="btn btn-outline-light btn-portlist">See or Edit Details</button></a>

    </div>
  </div>
{{/each}}
</div>

