<h1>Here is the user portfolio where his current coins are.</h1>
{{#each userCoinP}}
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{coin.imageLarge}}" alt="{{coin._id}}" />
    <div class="card-body">
      <h5 class={{coin.name}}>{{coin.name}}</h5>
      <p class="card-text">EUR: {{coin.valueEUR}} €</p>
      <p class="card-text">USD: {{coin.valueUSD}} $</p>
      <hr>
      <p>Amount owned: {{quantity}} {{coin.symbol}}</p>

<p>EUR: {{#multiply quantity coin.valueEUR}} {{/multiply}} € </p>
<p>USD: {{#multiply quantity coin.valueUSD}} {{/multiply}} $ </p>
      <a
        href="/profile/portfolio/{{coin.coinId}}/details"
        class="btn btn-primary"
      >See or Edit Details</a>

    </div>
  </div>
{{/each}}